{% extends 'base.html' %}

{% block content %}

<div class="m-5 d-flex flex-column justify-content-center align-items-center"></div>
<h1 class="m-4 fw-bold text-center"> See Your Wishlist 😉 </h1>
<div class="container">
<table class="table table-bordered table-hover">
    <tr class="table-info">
    <th class="fw-bold text-center" >Nama Barang</th>
    <th class="fw-bold text-center">Harga Barang</th>
    <th class="fw-bold text-center">Deskripsi</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for barang in list_barang %}
        <tr>
            <th class="fw-normal">{{barang.nama_barang}}</th>
            <th class="fw-normal">{{barang.harga_barang}}</th>
            <th class="fw-normal">{{barang.deskripsi}}</th>
        </tr>
    {% endfor %}


</div>
</table>
<h5 class="fw-bold mb-2" >Sesi terakhir login: <span class="fw-normal">{{ last_login }}</span></h5>
</div>
{% endblock content %}